<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add_user</servlet-name>
        <servlet-class>add_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_Login</servlet-name>
        <servlet-class>user_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servNearestVc</servlet-name>
        <servlet-class>servNearestVc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vaccine_request</servlet-name>
        <servlet-class>vaccine_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_vaccination_status</servlet-name>
        <servlet-class>get_vaccination_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vc_Login</servlet-name>
        <servlet-class>vc_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_schedule</servlet-name>
        <servlet-class>get_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_status</servlet-name>
        <servlet-class>update_status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_user</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_Login</servlet-name>
        <url-pattern>/user_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servNearestVc</servlet-name>
        <url-pattern>/servNearestVc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccine_request</servlet-name>
        <url-pattern>/vaccine_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_vaccination_status</servlet-name>
        <url-pattern>/get_vaccination_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vc_Login</servlet-name>
        <url-pattern>/vc_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_schedule</servlet-name>
        <url-pattern>/get_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_status</servlet-name>
        <url-pattern>/update_status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
